@page
@model Application.Pages.TestResults.IndexModel

@{
    ViewData["Title"] = "Index";
    var role = HttpContext.Session.GetString("Role");
}

<h1>Test Result</h1>

@if (role == "Doctor")
{
    <p>
        <a asp-page="Create" asp-route-recordId="@Model.TestResult[0].MedicalRecordId">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TestResult[0].TestDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestResult[0].Result)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestResult[0].Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TestResult)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TestDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Result)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @if (HttpContext.Session.GetString("Role") != "User")
                    {
                        <a asp-page="./Edit" asp-route-id="@item.Id" asp-route-recordId="@Model.TestResult[0].MedicalRecordId">Edit</a>
                    }
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> 
                    
                </td>
            </tr>
        }
    </tbody>
</table>
