@page
@model Application.Pages.MedicalRecords.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Medical Record</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MedicalRecord[0].RecordDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalRecord[0].Diagnosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalRecord[0].Treatment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalRecord[0].Notes)
            </th>
            <th>
                Test Result
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MedicalRecord)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RecordDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Diagnosis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Treatment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    <a asp-page="/TestResults/Index"
                       asp-route-recordId="@item.Id"
                       class="btn btn-primary">View Test Result
                    </a>
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
